vendor
node_modules
tests
.env
.env.*
!.env.example
.phpunit.cache
.phpunit.result.cache
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/app/public/*
storage/app/private/*
bootstrap/cache/*.php
